/* ── Spécifique à annexe-silsangsa ── */
.content-img-only .context-img {
  flex: initial;
  max-width: initial;
}

.content-img-only .img-batiments {
  width: 70%;
}

.content-img-only .img-pagode {
  width: 30%;
}

.medium {
  max-width: 24rem;
}

.bigmedium {
  max-width: 30rem;
}

.content-align-center {
  align-items: center;
}

.context-text-thin {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: -1rem;
}

.context-text-thin .context-text {
  max-width: 60rem;
}
