body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
  background-color: #f6f2d7;
  --padding-main: 2rem;
}

main {
  position: relative;
  max-width: 100%;
  max-height: 100vh;
  padding-top: var(--padding-main);
}

.map-container {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.map-img,
.map-link,
.map-link-img {
  width: 100%;
  height: auto;
  display: block;
}

.map-link {
  position: absolute;
  z-index: 1;
}

.map-link-residents {
  top: 31%;
  left: 61%;
  transform: translate(-50%, -50%);
  width: 16%;
  filter: grayscale(80%);
  transition: filter 0.2s ease-out;
}

.map-link-residents:hover {
  filter: grayscale(0);
  transition: filter 0.2s ease-out;
}

.footer-links,
.son {
  width: fit-content;
  background-color: #f6f2d7;
  border-radius: 100px;
  display: flex;
  /* border: 1px solid #d5d5d5; */
}

.footer-links {
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  display: none;
}

.son {
  padding: 0.5rem;
}
